.body {
  background-color: var(--page);
}

.page {
  margin: 50px auto 86px auto;
  padding: 32px;
  max-width: 1230px;
  color: var(--text-primary);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 85px;
  text-align: center;
}

.header__subtitle {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__title {
  margin: 0;
  color: var(--text-primary);
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 60px 0;
}

.filters__list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border: 0;
  padding: 0;
}

.filter-button {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  padding: 10px 20px;
  height: 46px;
  color: rgba(154, 156, 165, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;

  &:hover {
    background-color: rgba(244, 245, 246);
  }

  &:has(input:checked) {
    cursor: unset;
    border: 1px solid #ff3f3a;
    background-color: transparent;
    color: #ff3f3a;
  }
}

.filter-button__input {
  clip: rect(0 0 0 0);
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.filter-button__counter {
  vertical-align: super;
  font-weight: 900;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0;
}

.search {
  position: relative;
  margin-left: auto;
}

.search__input {
  border: 1px solid rgba(215, 218, 221, 1);
  border-radius: 4px;
  padding: 12px 0 12px 16px;
  max-width: 315px;
}

.search__input::placeholder {
  color: rgba(154, 156, 165, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.search__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  cursor: pointer;
  box-shadow:
    0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  border: 1px solid var(--card-border);
  border-radius: 4px;
  background: white;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.card__image {
  border: none;
  background: linear-gradient(135deg, #ffd93d 0%, #feca57 100%);
}

.card__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 24px;
}

.card__category {
  flex: none;
  border-radius: 4px;
  background-color: var(--category-color, rgba(128, 128, 128, 1));
  padding: 1px 8px;
  color: var(--card);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}

.card__meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  line-height: 150%;
}

.card__meta-price {
  color: var(--danger);
  font-weight: 700;
}

.card__meta-author {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-weight: 400;

  &::before {
    border-left: 1px solid var(--text-secondary);
    height: 16px;
    content: " ";
  }
}

.load-more {
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  margin: auto;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px;
  color: var(--load-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;

  &:hover {
    background-color: rgba(244, 245, 246);
  }

  &::before {
    background-image: url("../images/icons/convert.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    content: " ";
  }
}
