.page {
    
}

.header {
  margin-bottom: 50px;
  text-align: center;
}

.header__subtitle {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header__title {
  color: var(--text-primary);
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.filters__list {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.filters__item {
  cursor: pointer;
  list-style-type: none;
}

.filter-button {
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  color: rgba(154, 156, 165, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

.filter-button--active {
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  color: #ff3f3a;
}

.search {
  position: relative;
  margin-left: auto;
}

.search__input {
  border: 1px solid rgba(215, 218, 221, 1);
  border-radius: 4px;
  padding: 12px 0 12px 16px;
  max-width: 315px;
}

.search__input::placeholder {
  color: rgba(154, 156, 165, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.search__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-image: url("./images/icons/search.svg");
  background-repeat: no-repeat;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.course-card {
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: white;
  overflow: hidden;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
