body {
    font-family: Lato, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.header__subtitle {
    font-size: 12px;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 10px;
    font-weight: 500;
}

.header__title {
    font-size: 42px;
    color: #1a1a1a;
    font-weight: 700;
}
