body {
  font-family: Lato, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.header {
  margin-bottom: 50px;
  text-align: center;
}

.header__subtitle {
  margin-bottom: 10px;
  color: #666;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
}

.header__title {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 42px;
}
